<strong>Olá, {{deliveryman_name}}</strong>
<p>Essa entrega foi cancelada por problemas, mais detalhes a baixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br/>
  <strong>Data de cancelamento: </strong> {{ date }} <br/>
  <br/>
  <small>
    Prossiga para a proxima entrega
  </small>
</p>
