<strong>Olá, {{deliveryman_name}}</strong>
<p>Novo entrega solicitado, confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br/>
  <strong>Status: </strong> Produto disponivel para retirada <br/>
  <strong>Data Registro: </strong> {{ date }} <br/>
  <br/>
  <small>
    Compareça ao local de retirada imediatamente
  </small>
</p>
